// page
h1 {
    font-size: 3.2em;
    margin: 0;
    line-height: 1.3;
    font-weight: 300;
}

h2 {
    margin: 1em 0;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.8;
}

h3 {
    margin: 2em 0;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.6;
}

p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 1em;
}

.intro {
    text-align: center;
    padding: 2em 0;
    width: 100%;
    color: $dsq-demo-white;
}

section {
    padding: 2em 0;
    &.light {
        background-color: $dsq-light-grey;
    }
    &.darker {
        background-color: $dsq-darker-background;
    }
}

.block {
    max-width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    .block-content {
        padding: 0 1em;
    }
    .demo-box {
        margin: 1em 0 3em 0;
        padding: 0; //display: flex;
        //justify-content: center;
        @media only screen and (min-width: 640px) {
            //justify-content: space-between;
        } //height: 100%;
        //width: 100%;
        //flex-wrap: wrap;
        //flex-flow: row wrap;
        //align-items: center;
        .example,
        .example-code {
            @media only screen and (min-width: 640px) {
                //flex: 0 0 49%;
                //width: 49%;
                //flex-direction: column;
            } //flex-direction: row;
            //display: block;
            //flex: 0 0 96%;
            //width: 96%;
            margin: 0 0 2em 0; //margin-bottom: 2em;
            //min-width: 300px;
            //padding: 0 16px;
        }
        .example {
            @media only screen and (min-width: 640px) {
                
                
            }
            #eg1 {
                border: .0625em solid rgba(0, 0, 0, .12);
                background-color: $dsq-demo-white;
            }
        }
        .example-code {
            //order: 1;
            //justify-content: flex-end;
            @media only screen and (min-width: 640px) {}
        }
    }
}
// datesqrl inputs

.dsq {
    label {
        input {
            //width: 100%;
            font-family: $dsq-font-family;
            padding: 15px;
            margin: 0;
            border: 0;
            width: calc(100%);
            /* 100% - 2 x padding - 2 x border - 2 x margin */
            line-height: 1.3em;
            font-size: 1.2em;
            border-bottom: 0.0625em solid rgba(0, 0, 0, 0.12);
            &:focus {
                outline: none;
            }
            &:disabled {
                background-color: $dsq-light-grey !important;
            }
        }
    }
}
legend{
    margin: 0 auto;
    max-width: 550px;
    display: inline-block;
    width: 100%;
    text-align: left;
    line-height: 28px;
    font-size: 1em;
    font-weight: 300;
}
#eg17Output {
    margin: 0 auto;
    max-width: 550px;
    display: block;
    width: 100%;
    text-align: right;
    line-height: 28px;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    min-height: 35px;
}
.splash {
    height: 100vh;
    background: $dsq-demo-primary-colour;
}
.splash>header {
    height: 45vh;
    color: $dsq-demo-white;
    margin: 0 auto;
    padding: 20vh 50px 0px 50px;
    background: rgba(0, 0, 0, 0.05);
    a {
        color: #566473;
        text-decoration: none;
        outline: none;
        &:hover {
            color: #4f7bab;
        }
    }
    span {
        display: block;
        font-size: 55%;
        color: #74818e;
        padding: 0 0 0.6em 0.1em;
    }
}
// demo inputs & select
.example {
    //text-align: center;
    .dsq {
        margin: 0 auto;
        max-width: $max-input-width;
        label {
            display: inline-block;
            width: 100%;
            &:not([for='#eg0']) {
                text-align: left;
            }
            line-height: 28px;
            font-size: 1em;
            font-weight: 300;
            //color: $dsq-demo-white;
            input {
                //width: 100%;
                color: $dsq-very-grey;
                display: block;
                font-family: $dsq-font-family;
                padding: 15px;
                margin: 0;
                border: 0;
                width: 100%;
                //max-width: 500px;
                /* 100% - 2 x padding - 2 x border - 2 x margin */
                line-height: 1.3em;
                font-size: 1.2em;
                border-bottom: 0.0625em solid rgba(0, 0, 0, 0.12);
                background-color: $dsq-demo-white;
                &:focus {
                    outline: none;
                }
            }
            :-webkit-input-placeholder {
                color: $dsq-medium-grey;
            }
        }
    }
}


.splash {
	height: 100vh;
    background: $dsq-demo-primary-colour;
}
.splash header {
	height: 45vh;
    color: $dsq-demo-white;
    margin: 0 auto;
    padding: 20vh 50px 0px 50px;
    background: rgba(0, 0, 0, 0.05);
    a {
        color: #566473;
        text-decoration: none;
        outline: none;
        &:hover {
            color: #4f7bab;
        }
    }
    span {
        display: block;
        font-size: 55%;
        color: #74818e;
        padding: 0 0 0.6em 0.1em;
    }
}

// quiz

.quiz-box {
    text-align: center;
    color: $dsq-demo-white;
    font-weight: 300;
    //padding: 60px 0 0 0;
    max-width: 520px;
    margin: 0 auto;
    label {
    	font-size: 18px;
        input {
            text-align: center;
            border-radius: 1px;
            border: 1px solid transparent;
            border-top: none;
            border-bottom: 1px solid #ddd;
            box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #{$dsq-demo-white}, 0 1px 0 #{$dsq-demo-white};
            margin-top: 2px;
        }
    }
    .dsq {
        margin-top: 1em;
    }
    .output {
    	max-height: 0;
    	overflow: hidden;
    	transition: max-height 400ms ease-in, opacity 250ms ease-in;
    	//background-color: white;
    	opacity: 0;
    	&.is-active {
    		max-height: 600px;
    		opacity: 1;
    	}
	    #quizResponse {
	    	span {
	    		display: block;
	    		padding: 0.3em 0;
	    		&:first-child {
	    			font-size: 28px;
	    		}
	    		&:last-of-type {
	    			font-size: 16px;
	    		}
	    		span {
	    			font-size: 14px;
	    		}
	    	}
	    	a {
	    		color: $dsq-demo-white;
	    		padding: 0.3em 0;
	    	}
	    }
    }
}
.quiz-btns {
	margin: 26px 0;
	text-align: center;
}
.btn {
	position: relative;
  	-webkit-font-smoothing: antialiased;
	//padding: 10px 40px;
	height: 55px;
  	margin: 0 10px 0 0;
  	//float: left;
	border-radius: 4px;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
  	max-width: 250px;
  	width: 100%;
  	display: inline-block;
  	cursor: pointer;
	color: $dsq-demo-white;
	background-color: #4d7caa;
	border-bottom: 5px solid #3d648e;
	text-shadow: 0px -2px #3d648e;
	transition: all 150ms;
	line-height: 50px;
	&:after {
		transition: transform 250ms ease-in;
		font-family: iconsqrl;
		content: $iconsqrl-cached;
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		transform-origin: 50% 50%;
		font-size: 26px;
		margin-left: 10px;
		vertical-align: middle;
		margin-top: -3px;
	}
	&:active {
		transform: translate(0px,5px);
		border-bottom: 1px solid #3d648e;
	}
	&:focus,
	&:hover {
		&:after {
			transform: rotate(180deg);
		}
	}
}
a.light-link {
	display: block;
	color: $dsq-demo-white;
	margin: 26px 0;
}
footer {
    text-align: center;
    a.navigation-icon {
        width: 70px;
        height: 50px;
        margin: 1em auto 0 auto;
        font-size: 1.4em;
        text-align: center;
        background-color: $dsq-light-grey;
        line-height: 50px;
        border: 1px solid #ddd;
        text-decoration: none;
        position: fixed;
        bottom: -51px;
        right: 30px;
        border-radius: 30px 30px 0 0;
        box-shadow: -3px -3px 14px 1px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        opacity: 0;
        color: #3d648e;
        font-weight: 600;
        transition: opacity 0.25s $dsq-ease-in-out, bottom 0.25s $dsq-ease-in-out;
        &.dsq-shown {
            opacity: 0.5;
            bottom: 0;
            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}