// grid settings
@include g-setup($dsq-gridle-page);

// breakpoints
@include g-register-state(m, (
    max-width : #{$dsq-breakpoint-mobile}
));
@include g-register-state(t, (
    min-width : #{$dsq-breakpoint-mobile}
));
@include g-register-state(d, (
    min-width : #{$dsq-breakpoint-desktop}
));
// generate classes
@include g-classes();

// container width
.container {
    max-width : 100%;
    margin : 0 auto;
}
[class*="gr-"] {
    @include g-state(m) {
        @include g-grid(12);
    }
}