@font-face {
  font-family: 'iconsqrl';
  src:  url('#{$iconsqrl-font-path}/iconsqrl.eot?iva3cp');
  src:  url('#{$iconsqrl-font-path}/iconsqrl.eot?iva3cp#iefix') format('embedded-opentype'),
    url('#{$iconsqrl-font-path}/iconsqrl.ttf?iva3cp') format('truetype'),
    url('#{$iconsqrl-font-path}/iconsqrl.woff?iva3cp') format('woff'),
    url('#{$iconsqrl-font-path}/iconsqrl.svg?iva3cp#iconsqrl') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.iconsqrl {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsqrl' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

.iconsqrl-arrow_back {
  &:before {
    content: $iconsqrl-arrow_back;
  }
}
.iconsqrl-arrow_downward {
  &:before {
    content: $iconsqrl-arrow_downward;
  }
}
.iconsqrl-arrow_forward {
  &:before {
    content: $iconsqrl-arrow_forward;
  }
}
.iconsqrl-arrow_upward {
  &:before {
    content: $iconsqrl-arrow_upward;
  }
}
.iconsqrl-cached {
  &:before {
    content: $iconsqrl-cached;
  }
}
.iconsqrl-close {
  &:before {
    content: $iconsqrl-close;
  }
}
.iconsqrl-content_paste {
  &:before {
    content: $iconsqrl-content_paste;
  }
}
.iconsqrl-copyright {
  &:before {
    content: $iconsqrl-copyright;
  }
}
.iconsqrl-dehaze {
  &:before {
    content: $iconsqrl-dehaze;
  }
}
.iconsqrl-get_app {
  &:before {
    content: $iconsqrl-get_app;
  }
}
.iconsqrl-home {
  &:before {
    content: $iconsqrl-home;
  }
}
.iconsqrl-important_devices {
  &:before {
    content: $iconsqrl-important_devices;
  }
}
.iconsqrl-playlist_add_check {
  &:before {
    content: $iconsqrl-playlist_add_check;
  }
}
.iconsqrl-refresh {
  &:before {
    content: $iconsqrl-refresh;
  }
}
.iconsqrl-toc {
  &:before {
    content: $iconsqrl-toc;
  }
}
.iconsqrl-tune {
  &:before {
    content: $iconsqrl-tune;
  }
}
.iconsqrl-rocket {
  &:before {
    content: $iconsqrl-rocket;
  }
}
.iconsqrl-lab {
  &:before {
    content: $iconsqrl-lab;
  }
}
.iconsqrl-baffled {
  &:before {
    content: $iconsqrl-baffled;
  }
}
.iconsqrl-embed2 {
  &:before {
    content: $iconsqrl-embed2;
  }
}
.iconsqrl-github {
  &:before {
    content: $iconsqrl-github;
  }
}
