.gn-menu-main {
    margin: 0;
    padding: 0;
    background: $dsq-demo-white;
    color: #5f6f81;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: $dsq-nav-font;
    line-height: $dsq-nav-row-height;
    z-index: 99;
    box-shadow: $dsq-lists-boxshadow;
    ul {
        margin: 0;
        padding: 0;
        background: $dsq-demo-white;
        color: #5f6f81;
        list-style: none;
        text-transform: none;
        font-weight: 300;
        font-family: $dsq-nav-font;
        line-height: $dsq-nav-row-height;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $dsq-nav-row-height;
    font-size: 13px;
    a {
        display: block;
        height: 100%;
        color: #5f6f81;
        text-decoration: none;
        cursor: pointer;
    }
}

.no-touch {
    .gn-menu-main a:hover {
        background: #5f6f81;
        color: $dsq-demo-white;
    }
    .gn-menu-wrapper .gn-menu a:hover {
		>.iconsqrl {
		    margin-left: 8px;
		}
	}
}

.gn-menu-main {
    >li {
    	height: 60px;
	    &:first-child {
	        display: block;
	        float: left;
	        height: 100%;
	        border-right: 1px solid #c6d0da;
	        text-align: center;
	    }
	    &.gn-trigger {
	        position: relative;
	        width: $dsq-nav-row-height;
	        -webkit-touch-callout: none;
	        -webkit-user-select: none;
	        -khtml-user-select: none;
	        -moz-user-select: none;
	        -ms-user-select: none;
	        user-select: none;
	    }
	    &:not(:first-child) {
	        float: right;
	        border-right: none;
	        border-left: 1px solid #c6d0da;
	        >a {
	            padding: 0 16px;
	            text-transform: uppercase;
	            letter-spacing: 1px;
	            font-weight: 400;
	            font-size: 13px;
	        }
	    }
	    &:after {
	        display: table;
	        clear: both;
	        content: "";
	    }
	}
}


// icon-only trigger

.gn-menu-wrapper {
    position: fixed;
    top: $dsq-nav-row-height;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: $dsq-nav-row-height;
    border-top: 1px solid #c6d0da;
    background: $dsq-demo-white;
    transform: translateX(-#{$dsq-nav-row-height});
    transition: transform 0.3s, width 0.3s;
    &.gn-open-all,
    &.gn-open-part {
    	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    }
}

.gn-scroller {
    position: absolute;
    overflow-y: scroll;
    width: 370px;
    height: 100%;
}

.gn-menu {
    border-bottom: 1px solid #c6d0da;
    text-align: left;
    font-size: 18px;
    li {
        &:not(:first-child),
        li {
            box-shadow: inset 0 1px #c6d0da;
        }
	    &.fix-bottom {
	    	position: absolute;
	    	bottom: 0;
	    	width: 100%;
	    }
    }
}

.gn-submenu li {
    overflow: hidden;
    height: 0;
    transition: height 0.3s;
    a {
        color: #c1c9d1;
    }
}


// icons

.gn-icon>.iconsqrl {
    display: inline-block;
    width: $dsq-nav-row-height;
    text-align: center;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    transform: translateY(-2px);
    vertical-align: middle;
    transition: margin 150ms ease-in;
    margin-left: 0;
}
// hide icon text

.gn-icon span {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}


.no-touch .gn-icon-menu {
    &:hover .iconsqrl,
    &.gn-selected:hover .iconsqrl {
        color: $dsq-demo-white;
    }
}

.gn-icon-menu.gn-selected .iconsqrl {
    color: #5993cd;
}


// open nav

.gn-menu-wrapper {
    &.gn-open-all,
    &.gn-open-part {
        transform: translateX(0px);
    }
    &.gn-open-all {
        width: 340px;
        .gn-submenu li {
            height: $dsq-nav-row-height;
        }
    }
}

@media screen and (max-width: 422px) {
    .gn-menu-wrapper {
    	box-shadow: none;
	    .gn-open-all {
	        transform: translateX(0px);
	        width: 100%;
	        .gn-scroller {
	            width: 130%;
	        }
	    }
    }
}



// navigation bar

.navigation-icon > .iconsqrl {
    margin: 0 4px;
    speak: none;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    transform: translateY(-2px);
    vertical-align: middle;
    transition: transform 150ms ease-in;
    vertical-align: middle;
}
.navigation-icon:hover > .iconsqrl {
    transform: translateY(-6px);
}
.navigation-icon span {
    vertical-align: middle;
}
@media screen and (max-width: 1025px) {
    .splash>header {
        margin: 0 auto;
        padding: 17vh 20px 0 20px;
        font-size: 70%;
        height: 35vh;
    }
    .quiz-box {
	    padding: 40px 20px 0 20px;
	}
	.btn {
  		max-width: 100%;
	}
	a.light-link {
		display: none;
	}
}

@media screen and (max-width: 740px) {
    .navigation-icon span {
        display: none;
    }
}