//  settings for dsq
//  -----------------------------
//
//  toc:
//
//   1. fonts
//   2. animation
//   3. grids
//   4. navigation
//   5. colours
//   6. shadows
//   7. dimensions
//   8. 
//   x. demo


// 1. fonts
//  -----------------------------
$dsq-font-family: 'Lato', Arial, sans-serif;
$dsq-list-text-size: 16px;
$dsq-reminder-month-text-size: 17px;
$dsq-reminder-year-text-size: 13px;

// 2. animation
//  -----------------------------

$dsq-slide: cubic-bezier(.03, .56, .52, .99);
$dsq-ease-in-out: cubic-bezier(.76, .1, .46, .92);
$dsq-snap-out: cubic-bezier(.35, 0, .25, 1);
$dsq-ease: cubic-bezier(.16,-0.05, .99, .74);

// 3. grids
//  -----------------------------

// -- griddle

$dsq-gridle-page: (
    context : 12,           // number of columns in PAGE grid
    gutter-width : 0,    // size of the PAGE gutters
    gutter-height : 15px,      // size of top and bottom PAGE gutters
    gutter-top    : 0,      // size of top PAGE gutter
    gutter-bottom : 15px,      // size of bottom PAGE gutter
    gutter-left   : 0,   // size of left PAGE gutter
    gutter-right  : 0,   // size of right PAGE gutter
    classes-prefix : ''     // the prefix used for all PAGE classes 
);

// -- breakpoints

$dsq-breakpoint-mobile: 640px;
$dsq-breakpoint-desktop: 1024px;

// 4. navigation
//  -----------------------------

$dsq-nav-font: $dsq-font-family;
$dsq-nav-row-height: 60px;

// 5. colours
//  -----------------------------

$dsq-white: #fefefe;
$dsq-light-grey: #eee;
$dsq-medium-grey: #999;
$dsq-dark-grey: #777;
$dsq-very-grey: #666;
$dsq-black: #444;
$dsq-primary: #465775;
$dsq-on-primary: #fbfffe;
$dsq-disabled-colour: #c5c5c5;
$dsq-disabled-bgcolour: $dsq-light-grey;

// 6. shadows
//  -----------------------------

$dsq-lists-boxshadow: -3px -3px 14px 1px rgba(0,0,0,.03), 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

// 7. dimensions
//  -----------------------------

$dsq-list-row-height: 40px; // in JS change > this.rowHeight
$dsq-list-height: calc((6 * #{$dsq-list-row-height}) + (#{$dsq-list-row-height} / 2)); // in JS change > this.listHeight

// 8. labels
//  -----------------------------

$dsq-indicator-label-text-month: "Month";
$dsq-indicator-label-text-year: "Year";
$dsq-indicator-label-text-today: "Today";

// x. demo
//  -----------------------------

$dsq-demo-colour: #ff4532;
$dsq-demo-white: $dsq-white;
$dsq-darker-background: #f5f5f6;
$dsq-demo-primary-colour: #34495e;
$max-input-width: 550px;

// -- icons
//  -----------------------------

$iconsqrl-font-path: "/assets/fonts" !default;
$iconsqrl-arrow_back: "\e5c4";
$iconsqrl-arrow_downward: "\e5db";
$iconsqrl-arrow_forward: "\e5c8";
$iconsqrl-arrow_upward: "\e5d8";
$iconsqrl-cached: "\e86a";
$iconsqrl-close: "\e5cd";
$iconsqrl-content_paste: "\e14f";
$iconsqrl-copyright: "\e90c";
$iconsqrl-dehaze: "\e3c7";
$iconsqrl-get_app: "\e884";
$iconsqrl-home: "\e88a";
$iconsqrl-important_devices: "\e912";
$iconsqrl-playlist_add_check: "\e065";
$iconsqrl-refresh: "\e5d5";
$iconsqrl-toc: "\e8de";
$iconsqrl-tune: "\e429";
$iconsqrl-rocket: "\e9a5";
$iconsqrl-lab: "\e9aa";
$iconsqrl-baffled: "\e9f3";
$iconsqrl-embed2: "\ea80";
$iconsqrl-github: "\eab0";
