@charset 'utf-8';

// variables
$demo-white: #fefefe !default;
$demo-light-grey: #eee !default;
$demo-medium-grey: #999 !default;
$demo-dark-grey: #666 !default;
$demo-background: #f5f5f6 !default;
$demo-primary-colour: #0884AE !default;

$demo-input-height: 42px !default;
$demo-max-input-width: 550px !default;
$demo-max-section-width: 1440px !default;
$iconsqrl-cached: "\e86a" !default;
$demo-ease-in-out: cubic-bezier(.76, .1, .46, .92) !default;

// page
h1 {
    font-size: 3.2em;
    margin: 0;
    line-height: 1.3;
    font-weight: 300;
}

h2 {
    margin: 1em 0;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.8;
}

h3 {
    margin: 2em 0;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.6;
}

p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 1em;
}

.intro {
    text-align: center;
    padding: 2em 0;
    width: 100%;
    color: $demo-white;
}

section {
    padding: 2em 0;
    &.light {
        background-color: $demo-light-grey;
    }
    &.darker {
        background-color: $demo-background;
    }

	.columns > .column.col-12 {
	    max-width: $demo-max-section-width;
	    margin: 0 auto;
	    box-sizing: border-box;
	    & > * {
	        padding-left: 20px;
	        padding-right: 20px;
	    }
	    .demo-box {
	        margin: 1em 0 3em 0;
	        padding: 0;
	        .example,
	        .example-code {
	            margin: 0 0 2em 0; 
	        }
	        .example {
	            #eg1 {
	                border: .0625em solid rgba(0, 0, 0, .12);
	                background-color: $demo-white;
	            }
	        }
	    }
	}
}
// datesqrl inputs

.dsq {
    label {

    }
	input {
    	height: $demo-input-height;
        padding: 0 15px;
        margin: 0;
        border: 0;
        width: calc(100%);
        line-height: 1.3em;
        font-size: 1.2em;
        border-bottom: 0.0625em solid rgba(0, 0, 0, 0.12);
        &:focus {
            outline: none;
        }
        &:disabled {
            //background-color: $demo-light-grey !important;
        }
    }
}
/**/
legend {
    margin: 0 auto;
    max-width: 550px;
    display: inline-block;
    width: 100%;
    text-align: left;
    line-height: 28px;
    font-size: 1em;
    font-weight: 300;
}
#eg17Output {
    margin: 0 auto;
    max-width: 550px;
    display: block;
    width: 100%;
    text-align: right;
    line-height: 28px;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    min-height: 35px;
}
.splash {
    height: 100vh;
    background: $demo-primary-colour;
    padding: 0;
	&>header {
	    height: 45vh;
	    color: $demo-white;
	    margin: 0 auto;
	    padding: 20vh 50px 0px 50px;
	    background: rgba(0, 0, 0, 0.05);
	    a {
	        color: #566473;
	        text-decoration: none;
	        outline: none;
	        &:hover {
	            color: #4f7bab;
	        }
	    }
	    span {
	        display: block;
	        font-size: 55%;
	        color: #74818e;
	        padding: 0 0 0.6em 0.1em;
	    }
	}
}
// demo inputs & select
/*.example {
    .dsq {
        margin: 0 auto;
        max-width: $demo-max-input-width;
        label {
            display: inline-block;
            width: 100%;
            &:not([for='#eg0']) {
                text-align: left;
            }
            line-height: 28px;
            font-size: 1em;
            font-weight: 300;
            input {
                color: $dsq-very-grey;
                display: block;
                padding: 15px;
                margin: 0;
                border: 0;
                width: 100%;
                line-height: 1.3em;
                font-size: 1.2em;
                border-bottom: 0.0625em solid rgba(0, 0, 0, 0.12);
                background-color: $demo-white;
                &:focus {
                    outline: none;
                }
            }
            :-webkit-input-placeholder {
                color: $demo-medium-grey;
            }
        }
    }
}*/

// quiz
.quiz-box {
    text-align: center;
    color: $demo-white;
    font-weight: 300;
    max-width: 520px;
    margin: 0 auto;
    label {
    	font-size: 18px;
    	display: block; 
    	margin-bottom: 4px;
    }
    input {
        text-align: center;
        border-radius: 2px;
        //box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #{$demo-white}, 0 1px 0 #{$demo-white};
        //margin-top: 2px;
    }
    .dsq {
        margin-top: 1em;
        max-width: 90%;
        margin: 0 auto;
    }
}
.quiz-btns {
	margin: 26px 0;
	text-align: center;
}
.btn {
	position: relative;
  	-webkit-font-smoothing: antialiased;
	height: 55px;
  	margin: 0 10px 0 0;
	border-radius: 4px;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
  	max-width: 250px;
  	width: 100%;
  	display: inline-block;
  	cursor: pointer;
	color: $demo-white;
	background-color: #4d7caa;
	border-bottom: 5px solid #3d648e;
	text-shadow: 0px -2px #3d648e;
	transition: all 150ms;
	line-height: 50px;
	&:after {
		transition: transform 250ms ease-in;
		font-family: iconsqrl;
		content: $iconsqrl-cached;
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		transform-origin: 50% 50%;
		font-size: 26px;
		margin-left: 10px;
		vertical-align: middle;
		margin-top: -3px;
	}
	&:active {
		transform: translate(0px,5px);
		border-bottom: 1px solid #3d648e;
	}
	&:focus,
	&:hover {
		&:after {
			transform: rotate(180deg);
		}
	}
}
a.light-link {
	display: block;
	color: $demo-white;
	margin: 26px 0;
}
footer {
    text-align: center;
    a.navigation-icon {
        width: 70px;
        height: 50px;
        margin: 1em auto 0 auto;
        font-size: 1.4em;
        text-align: center;
        background-color: $demo-light-grey;
        line-height: 50px;
        border: 1px solid #ddd;
        text-decoration: none;
        position: fixed;
        bottom: -51px;
        right: 30px;
        border-radius: 30px 30px 0 0;
        box-shadow: -3px -3px 14px 1px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        opacity: 0;
        color: #3d648e;
        font-weight: 600;
        transition: opacity 0.25s $demo-ease-in-out, bottom 0.25s $demo-ease-in-out;
        &.dsq-shown {
            opacity: 0.5;
            bottom: 0;
            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}

// fork me
.github-corner {
	& > svg {
		z-index: 1;
	}
	&:hover .octo-arm {
		animation:octocat-wave 560ms ease-in-out
	}
}
@keyframes octocat-wave {
	0%,100% {
		transform:rotate(0)
		}
	20%,60% {
		transform:rotate(-25deg)
		}
	40%,80% {
		transform:rotate(10deg)
	}
}
@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation:none
	}
	.github-corner .octo-arm {
		animation:octocat-wave 560ms ease-in-out
	}
}