<section class="darker" id="examples">
    <div class="columns">
        <div class="column col-12">
            <h2>Examples of features &amp; functions</h2>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg2">Specify visual format (text)</label>
                    <input type="date" id="eg2" placeholder="Fancy date format">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_05">
&lt;label class="eg-label" for="eg2">Specify visual format (text)&lt;/label>
&lt;input type="date" id="eg2" placeholder="Fancy date format">
&lt;script>
	new dsq('#eg2', {
		pattern: 'wwww, dx mmmm yyyy'
	});
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg03">Set initial date (text)</label>
                    <input type="date" id="eg03" placeholder="Pre shrunk & cottony fresh">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_005">
&lt;label class="eg-label" for="eg03">Specify visual format (text)&lt;/label>
&lt;input type="date" id="eg03" placeholder="Fancy date format">
&lt;script>
	new dsq('#eg03', {
		initial: '4/12/2022'
	});
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg3">Start &amp; end dates (text, function)</label>
                    <input type="date" id="eg3" placeholder="From hence to thence">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_06">
&lt;label class="eg-label" for="eg3">Start &amp; end dates (text, function)&lt;/label>
&lt;input type="date" id="eg3" placeholder="From hence to thence">
&lt;script>
	// with literal dates
	new dsq('#eg3', {
		start: {
			d: 28, // the 28th day
			m: 1, // the SECOND month (February)
			y: 1990 // the full year
		},
		end: {
			d: 1, // the 1st day
			m: 6, // the SEVENTH month (July)
			y: 2000 // the full year
		} 
	});

	// via individual functions that return numbers
	var today = new Date();
	new dsq('#eg3', {
		start: {
			d: 1, // Beginning of the month (1st)
			m: today.getMonth(), // Today's month
			y: today.getFullYear() + 1 // next year
		} 
	});

	// note: dsq automatically changes impossible dates **downward** 
	// to the nearest possible value 
	{
		d: 31, // becomes => 29 because...
		m: 1, // ... it's in Feb...
		y: 2020 // ... and a leap year
		// result = 29th Feb 2020
	} 
	{
		d: 34, // becomes => 31
		m: 15, // becomes => 11 (December)
		y: 1999
		// result = 31st Dec 1999
	} 

	// via a date object
	new dsq('#eg3', {
		start: new Date(new Date().getFullYear() - 10, 
			new Date().getMonth(), 
			new Date().getDate()) 
			// ten years ago
	});

	// note: ranges INCLUDE start and end day
	// note: Months are expected as: 0 = Jan, 1 = Feb, 2 = Mar..., 11 = Dec
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg4">Get creative; use a function (function)</label>
                    <input type="date" id="eg4" placeholder="Rolling start date">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_07">
&lt;label class="eg-label" for="eg4">Get creative; use a function (function)&lt;/label>
&lt;input type="date" id="eg4" placeholder="Rolling start date">
&lt;script>
new dsq('#eg4', {
	start: function() {
		// a simple function to calculate the date three days
		// in the future (excluding weekends)
		var today = new Date(),
		dayName = today.toLocaleString('en-gb', { weekday: "short" }),
		workDaysHence,
		addD = function addDays(d, days) {
			return new Date(d.valueOf())
				.setDate(new Date(d.valueOf()).getDate() + days);
		};
		if (dayName === 'Mon' || dayName === 'Tue') {
			workDaysHence = addD(today, 3);
		} else if (dayName === 'Wed' || dayName === 'Thu' || 
			dayName === 'Fri' || dayName === 'Sat') {
			workDaysHence = addD(today, 5);
		} else {
			workDaysHence = addD(today, 4);
		}
		// you must return a Date object!
		return new Date(workDaysHence); 
	},
	// the first of the month following next
	end: new Date(new Date().getFullYear(), new Date().getMonth() + 2, 1) 
});
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg5">No day selection (boolean)</label>
                    <input type="date" id="eg5" placeholder="Details are for squares">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_08">
&lt;label class="eg-label" for="eg5">No day selection (boolean)&lt;/label>
&lt;input type="date" id="eg5" placeholder="Details are for squares">
&lt;script>
	new dsq('#eg5', {
		day: false,
		pattern: 'mmm \'yy'
	});
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg6">No day or month selection (boolean)</label>
                    <input type="date" id="eg6" placeholder="Hardly seems worth it">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_09">
&lt;label class="eg-label" for="eg6">No day or month selection (boolean)&lt;/label>
&lt;input type="date" id="eg6" placeholder="Hardly seems worth it">
&lt;script>
	new dsq('#eg6', {
		day: false,
		month: false,
		pattern: 'yyyy'
	});
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg7">Default to shortest view</label>
                    <input type="date" id="eg7" placeholder="Pick from days only">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_10">
&lt;label class="eg-label" for="eg7">Default to shortest view&lt;/label>
&lt;input type="date" id="eg7" placeholder="Pick from days only">
&lt;script>
    var today = new Date();
    new dsq('#eg7', {
        // beginning of this month
        start: new Date(today.getFullYear(), today.getMonth(), 1),
        // end of this month
        end: {
            d: 32, // becomes => last of month
            m: today.getMonth(), // 0 = Jan, 1 = Feb, 2 = Mar..., 11 = Dec
            y: today.getFullYear()
        }
    });
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg8">Disable specific dates</label>
                    <input type="date" id="eg8" placeholder="Restricted selection">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_11">
&lt;label class="eg-label" for="eg8">Disable specific dates&lt;/label>
&lt;input type="date" id="eg8" placeholder="Restricted selection">
&lt;script>
    var firstOfMonth = new Date(new Date().getFullYear(), new Date().getMonth(), 1);
    new dsq('#eg8', {
        start: new Date(2000,0,1),
        end:  new Date(2020,6,10),
        disabledDates: [
            // recurring days ("mon", "tue",..., "sun")
            "wed", 
            // recurring dates ("mm/dd" n.b. 00/01 === January 1st)
            "11/25", 
            // single dates (Date objects)
            new Date(2019, 0, 31), 
            // date ranges ([Date object, Date object])
            [new Date(2008,3,15), new Date(2008,4,14)], 
            [new Date(2000,7,2), new Date(2003,9,22)],
            [new Date(2001,7,2), new Date(2003,0,31)],
            [new Date(2010,0,1), new Date(2013,0,14)],
            [new Date(2014,6,1), new Date(2016,2,14)], 
            // whole years (1999, 2000,..., 2999)
            2006, 
            // recurring months (0, 1,..., 11)
            5
        ]
    });
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg9">Defaulting to months</label>
                    <input type="date" id="eg9" placeholder="No year selection">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_12">
&lt;label class="eg-label" for="eg9">Defaulting to months&lt;/label>
&lt;input type="date" id="eg9" placeholder="No year selection">
&lt;script>
    new dsq('#eg9', {
        start: new Date(2020,0,1),
        end: new Date(2020,3,30)
    });
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                	<p>**DEPRECIATED** Should now use SCSS or CSS to style</p>
                    <label class="eg-label" for="eg10">Set colours (text -> CSS colours)</label>
                    <input type="date" id="eg10" placeholder="accountForTaste() is not a function">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_13">
&lt;label class="eg-label" for="eg10">Set colours (text -> CSS colours)&lt;/label>
&lt;input type="date" id="eg10" placeholder="accountForTaste() is not a function">
&lt;script>
    new dsq('#eg10', {
        primaryColour: 'hsla(340, 82%, 52%, 0.95)',
        primaryTextColour: 'rgba(160, 12, 62, 1)',
        textOnPrimaryColour: '#fbfffe'
    });
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg11">Set start and end dates via min &amp; max</label>
                    <input type="date" id="eg11" min="2012-04-01" max="2017-04-30" placeholder="Look: no hands!">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_14">
&lt;label class="eg-label" for="eg11">Set start and end dates via min &amp; max&lt;/label>
&lt;input type="date" id="eg11" min="2012-04-01" max="2017-04-30" placeholder="Look: no hands!">
&lt;script>
    new dsq('#eg11');
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg12">Initialisation criteria (function)</label>
                    <input type="date" id="eg12" placeholder="Sometimes I'm browser-native">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_15">
&lt;label class="eg-label" for="eg12">Initialisation criteria (function)&lt;/label>
&lt;input type="date" id="eg12" placeholder="Sometimes I'm browser-native">
&lt;script>
    $('#eg12').dsq({
        activation: function() {
            if ($(window).width() > 1024) {
                return true; // activate
            } else {
                return false; // dormant
            }
        }
    });
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg13" placeholder="Check the console log too">Callback (function)</label>
                    <input type="date" id="eg13">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_16">
&lt;label class="eg-label" for="eg13" placeholder="Check the console log too">Callback (function)&lt;/label>
&lt;input type="date" id="eg13" placeholder="Check the console log too">
&lt;script>
    $('#eg13').dsq({
        callback: function() {
            alert('The date set is: ' + this.startDate);
            console.log('Date set: ', this.startDate);
            console.log('End date set (null if no end date): ', this.endDate);
            console.log('The input element: ', this.input);
            console.log('The dateSquirrel input wrapper: ', this.wrapper);
        }
    });
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg14">Auto scroll-into-view</label>
                    <input type="date" id="eg14" placeholder="Don't start with disabled options">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_17">
&lt;label class="eg-label" for="eg14">Auto scroll-into-view&lt;/label>
&lt;input type="date" id="eg14" placeholder="Don't start with disabled options">
&lt;script>
    new dsq('#eg14', {
        start:  {
            d: 1, 
            m: 10, // 0 = Jan, 1 = Feb, 2 = Mar..., 11 = Dec
            y: 2029 
        },
        end: {
            d: 32, 
            m: 3, // 0 = Jan, 1 = Feb, 2 = Mar..., 11 = Dec
            y: 2030 
        }
    });
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg15">No scrollbars on lists</label>
                    <input type="date" id="eg15" placeholder="Form > Function">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_18">
&lt;label class="eg-label" for="eg15">No scrollbars on lists&lt;/label>
&lt;input type="date" id="eg15" placeholder="Form > Function">
&lt;script>
    new dsq('#eg15', {
        hideScrollbars: true
    });
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <legend>Example of setting a time interval with a callback</legend>
                    <div class="half-box">
                        <div class="half-segment">
                            <label class="eg-label" for="eg16">Start date</label>
                            <input type="date" id="eg16" placeholder="From hence...">
                        </div>
                        <div class="half-segment">
                            <label class="eg-label" for="eg17">End date</label>
                            <input type="date" id="eg17" placeholder="...to thence" disabled>
                        </div>
                    </div>
                    <p id="eg17Output"></p>
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_19">
&lt;div class="half-box">
    &lt;div class="half-segment">
        &lt;label class="eg-label" for="eg16">Start date&lt;/label>
        &lt;input type="date" id="eg16" placeholder="From hence...">
    &lt;/div>
    &lt;div class="half-segment">
        &lt;label class="eg-label" for="eg17">End date&lt;/label>
        &lt;input type="date" id="eg16" placeholder="...to thence" disabled>
    &lt;/div>
&lt;/div>
&lt;script>
    let dateA = new Date(),
    output = document.getElementById('eg17Output').innerHTML,
    boxA = new dsq('#eg16', {
        start: today,
        end: {
            d: today.getDate(),
            m: today.getMonth(),
            y: today.getFullYear() + 3
        },
        callback: function() {
            dateA = new Date(this.date.getFullYear(), 
                            this.date.getMonth(), 
                            this.date.getDate() + 1);
            boxB.destroy();
            boxB = new dsq('#eg17', {
               start: dateA,
                end: {
                    d: today.getDate(),
                    m: today.getMonth(),
                    y: today.getFullYear() + 5
                },
                callback: function() {
                    const difference = new Date(this.date - dateA);
                    output = "That's " + 
                            (difference.toISOString().slice(0, 4) - 1970) + " years, " + 
                            (difference.getMonth()) + " months and " + 
                            difference.getDate() + " days";
                }
            });
            document.getElementById('eg17').disabled = false;
        }
    }),
    boxB = new dsq('#eg17');
&lt;/script>
</code>
</pre>
                </div>
            </div>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg18">Format user input</label>
                    <input type="date" id="eg18" placeholder="Be gentle">
                </div>
                <div class="column col-6 col-md-12">
<pre>
<code class="language-html" id="code_19">
&lt;label class="eg-label" for="eg16">Format user input&lt;/label>
&lt;input type="date" id="eg18" placeholder="Be gentle">
&lt;script>
	new dsq('#eg18', {
    	parse: true,
    	parseDelay: 2000
    });
&lt;/script>
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
</section>