<section class="light" id="getstarted">
    <div class="columns">
        <div class="column col-12">
            <h2>Getting started</h2>
            <p>Going through the steps below should get dateSquirrel up and running on your site. If you notice any bugs, please post them to <a>GitHub issues</a>.</p>
            <p class="callout-reminder">dateSquirrel assumes you have standard (s)css resetting and / or normalization included in your site or build and doesn't include this.</p>
            <h3>Dependencies</h3>
            <p>dateSquirrel has no dependencies (except for JavaScript!)</p>
            <h3>Browser support</h3>
            <p>dateSquirrel supports recent(ish) browsers but needs access to some newer (but not bleeding edge) JavaScript DOM properties &amp; methods; Element.querySelector(), EventTarget.addEventListener() &amp; Element.classList - dateSquirrel also polyfills for Element.closest(), childNode.remove() and Array.from for the benefit of IE11</p>
            <p>dateSquirrel is only attempts to support browsers that have a share of <a href="https://netmarketshare.com/browser-market-share.aspx?options=%7B%22filter%22%3A%7B%22%24and%22%3A%5B%7B%22deviceType%22%3A%7B%22%24in%22%3A%5B%22Desktop%2Flaptop%22%2C%22Mobile%22%5D%7D%7D%5D%7D%2C%22dateLabel%22%3A%22Trend%22%2C%22attributes%22%3A%22share%22%2C%22group%22%3A%22browserVersion%22%2C%22sort%22%3A%7B%22share%22%3A-1%7D%2C%22id%22%3A%22browsersDesktopVersions%22%2C%22dateInterval%22%3A%22Monthly%22%2C%22dateStart%22%3A%222017-01%22%2C%22dateEnd%22%3A%222017-12%22%2C%22segments%22%3A%22-1000%22%7D" target="_blank">above ~3% globally</a> which means testing is only done on Chrome, Safari, Firefox &amp; grudgingly IE11 (Sorry Opera users).
            <h3>Step one: add the script reference to your page(s)</h3>
            <div class="columns">
                <div class="column col-6 col-md-12">
                	<p>You can add the script to the <code class="language-html">&lt;header></code> or the <code class="language-html">&lt;body></code> but make sure that any scripts that use dateSquirrel are loaded after it is.</p>
                </div>
                <div class="column col-6 col-md-12">
	                <pre>
	                    <code class="language-html" id="code_01">
	                    &lt;body>
	                        &lt;!-- page html -->
	                        &lt;script src="path/to/dsq.min.js">&lt;/script>
	                        &lt;!-- scripts that use dsq-->
	                    &lt;/body>
	                    </code>
	                </pre>
	            </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column col-12">
            <h3>Step two: add the HTML</h3>
            <div class="columns">
                <div class="column col-6 col-md-12">
                	<p>The html is pretty simple from a base requirement; a label and an input with <code class="language-html">type=date</code>. The <code class="language-html">&lt;label></code> should have a <code class="language-html">for</code> attribute, but should not wrap the input.</p>
                </div>
                <div class="column col-6 col-md-12">
                    <pre>
                        <code class="language-html" id="code_02">
                            &lt;label for="eg1">Pick a date&lt;/label>
                            &lt;input type="date" id="eg1">
                        </code>
                    </pre>
                </div>
            </div>
        </div>
        <div class="column col-12">
            <h3>Step three: initialise dateSquirrel</h3>
            <div class="columns">
                <div class="column col-6 col-md-12">
                	<p>Initialise dateSquirrel by instance (<code class="language-html">id</code>) or globally (<code class="language-html">class</code>) using standard JavaScript. You can (recommended) attach it to a variable if you want to operate on the field programmatically, but it can also be instantated without binding in it's simplest form.</p>
                </div>
                <div class="column col-6 col-md-12">
                    <pre>
                        <code class="language-js" id="code_03">
                            // either by selector...
                            new dsq('[type="date"]');

                            // ...or by element...
                            const dateInput = document.getElementById('myDateInput');
                            new dsq(dateInput);

                            // ...but generally you would want to create an object 
                            // (or objects) so you can operate on it
                            const myDatePicker = new dsq('#myDateInput');
                        </code>
                    </pre>
                </div>
            </div>
        </div>
        <div class="column col-12">
            <h3>Output: dateSquirrel field</h3>
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <label class="eg-label" for="eg1">Pick a date</label>
                    <input type="date" id="eg1" placeholder="Tada!">
                	<p>That is all you need to get some basic date-squirrelling going on. There are a bunch of more complex options, so read on for advanced features...</p>
                </div>
                <div class="column col-6 col-md-12">
                    <pre>
                        <code class="language-html" id="code_04">
                            &lt;body>
                                &lt;label for="eg1">Pick a date&lt;/label>
                                &lt;input type="date" id="eg1" placeholder="Tada!">
                                
                                &lt;script src="path/to/dsq.min.js">&lt;/script>
                                &lt;script>
                                    new dsq('#eg1', {
                                        pattern: 'dx mmm yyyy'
                                    });
                                &lt;/script>
                            &lt;/body>
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</section>