<ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><i class="iconsqrl iconsqrl-dehaze"></i><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
                    <li><a class="gn-icon" href="#home"><i class="iconsqrl iconsqrl-home"></i>Home</a></li>
                    <li><a class="gn-icon" href="https://github.com/tymothytym/dateSquirrel"><i class="iconsqrl iconsqrl-github"></i>Github</a></li>
                    <li><a class="gn-icon" href="https://github.com/tymothytym/dateSquirrel/releases"><i class="iconsqrl iconsqrl-get_app"></i>Download</a></li>
                    <li><a href="#getstarted" class="gn-icon"><i class="iconsqrl iconsqrl-important_devices"></i>Getting started</a></li>
                    <li><a class="gn-icon" href="#examples"><i class="iconsqrl iconsqrl-playlist_add_check"></i>Examples</a></li>
                    <li class="fix-bottom"><a class="gn-icon" href="#home"><i class="iconsqrl iconsqrl-arrow_upward"></i>Back to top</a></li>
                </ul>
            </div><!-- /gn-scroller -->
        </nav>
    </li>
    <li><a class="navigation-icon" href="https://github.com/tymothytym/dateSquirrel"><i class="iconsqrl iconsqrl-github"></i><span>Github</span></a></li>
    <li><a class="navigation-icon" href="https://github.com/tymothytym/dateSquirrel/releases"><i class="iconsqrl iconsqrl-get_app"></i><span>Download</span></a></li>
</ul>