---
_options:
  partials:
    - app/partials/head.static.hbs
    - app/partials/style.static.hbs
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        {{>style}}
    </head>
    <body class="{{title}}__pg">
    	<main id="dsqTests" class="">
			<noscript><p>Sorry, dateSquirrel requires JavaScript to work</p><a href="/">Back to the home page</a></noscript>
			<div class="app">
				<div id="dsqApp">
					<form>
        				{{content}}
					</form>
        		</div>
			</div>
		</main>
		<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
		<script src="vendor/prism.js"></script>
		<script src="dist/dsq.js" ></script>
		<script src="tests/js/test.js" onload="require('initialize');"></script>
  </body>
</html>