<!doctype html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index,archive,follow">
    	{{#ifpage 'index'}}
			<link rel="stylesheet" type="text/css" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
	    	<link rel="stylesheet" href="{{root}}test/vendor/prism.css" />
	    	<link rel="stylesheet" href="{{root}}test/test.css" />
    	{{/ifpage}}
	    <link rel="stylesheet" href="{{root}}dateSquirrel/dsq.css" />
	    <title>dateSquirrel: the datepicker with a nutty tang</title>
	    <!-- Global site tag (gtag.js) - Google Analytics
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49959100-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-49959100-1'); -->
		</script>

    </head>
    <body class="dateSquirrelled loading">
    	<main id="dsqTests" class="">
			<noscript><p>Sorry, dateSquirrel requires JavaScript to work</p><a href="/">Back to the home page</a></noscript>
			<div class="app">
				<div id="dsqApp">
        			{{> body}}
        		</div>
			</div>
		</main>
		{{#ifpage 'index'}}
			<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
			<script src="{{root}}test/vendor/prism.js"></script>
		    <script src="{{root}}test/test.js"></script>
    	{{/ifpage}}
		<script src="{{root}}dateSquirrel/dsq.js"></script>
  </body>
</html>